 * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
}

.site-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header, main content, footer */
    min-height: 100vh;
  }
  
/* ---------------------------Header--------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 2%;
    background: #341294;
    font-size: 1.1rem;

}
  
.header a {
    text-decoration: none; /* Optional: remove underline from links */
}

.site-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
}

.site-logo:hover {
    transform: scale(1.1);
}


.nav-links {
    display: flex;
}

.nav-links a {
    margin-left: 20px;
    border: 3px solid white;  /* Adds a 3px wide white border */
    border-radius: 25px;      /* Makes the border rounded */
    padding: 5px 20px;             /* Adds some padding inside the border */
    text-decoration: none; 
    font-weight: bold;
}

.nav-link:hover {
    color: #341294;
    background-color: white; /* Changes the background color on hover */
    transform: scale(1.2);
}

/* --------------------------Dash-------------------------- */


.dash-container {
    display: flex;
    justify-content: space-between; /* This will help space out your links evenly */
    width: 50%;
    position: absolute;
    top: 35px;
}

.dash-container .nav-link {
    width: 22%; /* Adjust this as needed */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    border: 3px solid white;  
    border-radius: 25px;
    padding: 5px 20px;
    text-decoration: none; 
    font-weight: bold;
    text-align: center; /* This will center the text inside each link */
}




/* ---------------------Main-------------------------------- */



.main-background {
    background: url('../src/assets/night-background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    flex-direction: column;
    position: relative;
}


/* -----------------------------Footer---------------------------- */

.footer {
    height: 70px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* -----------------------------Homepage--------------------------- */
.home-box {
    position: relative;
    top: 20px;
    width: 40%;
    height: 500px;
    border-radius: 25px;
    border: 8px solid #FFF;
    background: rgba(52, 18, 148, 0.69);
    padding: 20px;
    display: flex;
    flex-direction: column; /* stacks the items vertically */
    justify-content: center; /* centers items vertically in the container */
    align-items: center; /* centers items horizontally in the container */

}


.home-box > h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5%;
}

.home-box > img {
    margin-bottom: 5%;
}

.home-box > a {
    border: 3px solid white;  /* Adds a 3px wide white border */
    border-radius: 10px;      /* Makes the border rounded */
    padding: 5px 20px;             /* Adds some padding inside the border */
    text-decoration: none; 
    font-weight: bold;
    margin: 10px;
    width: 80%;
    text-align: center;
    font-size: 1.25rem;
}


.home-box > a:hover {
    color: #341294;
    background-color: white; /* Changes the background color on hover */
    transform: scale(1.1);
}

.black-area {
    background: black;
    height: 400px;
    display: flex;
    justify-content: center; /* Center items horizontally, if needed */
    align-items: center; /* Center items vertically, if needed */
    color: white; /* Set the color of text inside the div */
}

.how-it-works {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 3px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    width: 40%;
    height: 300px;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.how-it-works-line {
    height: 5px;
    width: 75%;
    background-color: white;
    border-radius: 10px;
}

.how-it-works-steps > p {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}


/* -------------------------Signup/Login Page--------------------------- */

.signup-container {
    position: relative;
    top: 20px;
    width: 35%;
    height: 500px;
    border-radius: 25px;
    border: 8px solid #FFF;
    background: rgba(52, 18, 148, 0.69);
    padding: 20px;
    display: flex;
    flex-direction: column; /* stacks the items vertically */
    justify-content: center; /* centers items vertically in the container */
    align-items: center; /* centers items horizontally in the container */
}

.login-container {
    position: relative;
    top: 20px;
    width: 35%;
    height: 400px;
    border-radius: 25px;
    border: 8px solid #FFF;
    background: rgba(52, 18, 148, 0.69);
    padding: 20px;
    display: flex;
    flex-direction: column; /* stacks the items vertically */
    justify-content: center; /* centers items vertically in the container */
    align-items: center; /* centers items horizontally in the container */
}

.signup-container input, .login-container input {
    display: block;
    width: 300px; /* Make the inputs take up the full width of the container */
    padding: 5px; /* Add some padding inside the inputs */
    border-radius: 5px; /* Round the corners of the inputs */
    border: 2px solid #FFF;
    background-color: #341294; /* Change the background color of the inputs */
    color: white; /* Change the color of the input text */
    margin-bottom: 15px; /* Add some space between each input */
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.signup-container button,
.login-container button,
.travel-container button {
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  width: 40%;
  height: 35px;
  background-color: #341294;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.signup-container button:hover, .login-container button:hover, .travel-container button:hover {
    background-color: #5012d4; /* changes the background color when the mouse hovers over the button */
}


/* -------------------------Travel--------------------------- */

.travel-container {
    position: absolute;
    top: 100px;
    width: 50%;
    height: 500px;
    border-radius: 25px;
    border: 8px solid #FFF;
    background: rgba(52, 18, 148, 0.69);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .travel-container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .travel-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .travel-container .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .travel-container input {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #341294;
    color: white;
    margin: 0 10px;
  }
  
  .travel-container button {
    width: 50%;
    height: 35px;
    background-color: #341294;
    color: #FFF;
    border-radius: 5px;
    border: 2px solid #FFF;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .travel-container .api-response {
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }
  
  .travel-container textarea {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #341294;
    color: white;
    resize: none;
  }
  
  
/* -------------------------Profile---------------------- */

.profile-container {
    position: relative;
    top: 20px;
    width: 70%;
    height: 500px;
    border-radius: 25px;
    border: 8px solid #FFF;
    background: rgba(52, 18, 148, 0.69);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .profile-section-left {
    flex: 1;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-section-right {
    flex: 2;
    flex-basis: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-picture img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 15%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .profile-picture input {
    margin-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  .profile-data-left input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #341294;
    color: white;
    margin-bottom: 20px;
  }

  .bio-section {
    width: 100%;
  }
  
  textarea {
    width: 100%;
    height: 275px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #341294;
    color: white;
    margin-bottom: 30px;
  }
  
  .budget-section label {
    font-weight: bold;
    margin-right: 10px;
  }

  .interests-section {
    margin-left: 30px;
  }

  .interests-section label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #341294;
    color: white;
    margin-bottom: 10px;
  }
  
  .interests-buttons button {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #341294;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .interests-buttons button.selected {
    background-color: #5012d4;
  }

  .profile-credentials {
    width: 20%;
  }

  .email-password-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .email-password-section div {
    margin-bottom: 10px;
  }
  
  .email-password-section input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background-color: #341294;
    color: white;
    margin-bottom: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #341294;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #5012d4;
  }
  


