 * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
}

.site-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header, main content, footer */
    min-height: 100vh;
  }
  


/* ---------------------------Header--------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 2%;
    background: #341294;
    font-size: 1.1rem;

}
  
.header a {
    text-decoration: none; /* Optional: remove underline from links */
}

.site-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
}

.site-logo:hover {
    transform: scale(1.1);
}


.nav-links {
    display: flex;
}

.nav-links a {
    margin-left: 20px;
    border: 3px solid white;  /* Adds a 3px wide white border */
    border-radius: 25px;      /* Makes the border rounded */
    padding: 5px 20px;             /* Adds some padding inside the border */
    text-decoration: none; 
    font-weight: bold;
}

.nav-link:hover {
    color: #341294;
    background-color: white; /* Changes the background color on hover */
    transform: scale(1.2);
}

/* ---------------------Main-------------------------------- */



.main-background {
    background: url('../src/assets/night-background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
}


/* -----------------------------Footer---------------------------- */

.footer {
    height: 70px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* -----------------------------Homepage--------------------------- */
.home-box {
    position: relative;
    top: 20px;
    width: 40%;
    height: 500px;
    border-radius: 25px;
    border: 8px solid #FFF;
    background: rgba(52, 18, 148, 0.69);
    padding: 20px;
    display: flex;
    flex-direction: column; /* stacks the items vertically */
    justify-content: center; /* centers items vertically in the container */
    align-items: center; /* centers items horizontally in the container */

}


.home-box > h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5%;
}

.home-box > img {
    margin-bottom: 5%;
}

.home-box > a {
    border: 3px solid white;  /* Adds a 3px wide white border */
    border-radius: 10px;      /* Makes the border rounded */
    padding: 5px 20px;             /* Adds some padding inside the border */
    text-decoration: none; 
    font-weight: bold;
    margin: 10px;
    width: 80%;
    text-align: center;
    font-size: 1.25rem;
}


.home-box > a:hover {
    color: #341294;
    background-color: white; /* Changes the background color on hover */
    transform: scale(1.1);
}

.black-area {
    background: black;
    height: 400px;
    display: flex;
    justify-content: center; /* Center items horizontally, if needed */
    align-items: center; /* Center items vertically, if needed */
    color: white; /* Set the color of text inside the div */
}

.how-it-works {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 3px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    width: 40%;
    height: 300px;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.how-it-works-line {
    height: 5px;
    width: 75%;
    background-color: white;
    border-radius: 10px;
}

.how-it-works-steps > p {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}


/* -------------------------Signup/Login Page--------------------------- */

.signup-container {
    position: relative;
    top: 20px;
    width: 35%;
    height: 500px;
    border-radius: 25px;
    border: 8px solid #FFF;
    background: rgba(52, 18, 148, 0.69);
    padding: 20px;
    display: flex;
    flex-direction: column; /* stacks the items vertically */
    justify-content: center; /* centers items vertically in the container */
    align-items: center; /* centers items horizontally in the container */
}

.login-container {
    position: relative;
    top: 20px;
    width: 35%;
    height: 400px;
    border-radius: 25px;
    border: 8px solid #FFF;
    background: rgba(52, 18, 148, 0.69);
    padding: 20px;
    display: flex;
    flex-direction: column; /* stacks the items vertically */
    justify-content: center; /* centers items vertically in the container */
    align-items: center; /* centers items horizontally in the container */
}

.signup-container input, .login-container input, .travel-container input {
    display: block;
    width: 300px; /* Make the inputs take up the full width of the container */
    padding: 5px; /* Add some padding inside the inputs */
    border-radius: 5px; /* Round the corners of the inputs */
    border: 2px solid #FFF;
    background-color: #341294; /* Change the background color of the inputs */
    color: white; /* Change the color of the input text */
    margin-bottom: 15px; /* Add some space between each input */
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container button, .login-container button, .travel-container button {
    display: block;
    width: 40%; /* make the button take the full width of the form */
    height: 35px; /* you can adjust this to your preference */
    background-color: #341294; /* this is the background color */
    color: #FFF; /* this is the text color */
    border-radius: 5px; /* this rounds the button's corners */
    border: 2px solid #FFF;
    margin-top: 10px; /* adds a space at the top of the button */
    cursor: pointer; /* changes the mouse cursor when it hovers over the button */
    font-size: 1rem; /* this changes the font size of the button's text */
    font-weight: bold; /* makes the font weight bold */
    transition: background-color 0.3s ease; /* makes a smooth transition when the background color changes */
}

.signup-container button:hover, .login-container button:hover, .travel-container button:hover {
    background-color: #5012d4; /* changes the background color when the mouse hovers over the button */
}


/* -------------------------Travel--------------------------- */

.travel-container {
    position: relative;
    top: 20px;
    width: 50%;
    height: 500px;
    border-radius: 25px;
    border: 8px solid #FFF;
    background: rgba(52, 18, 148, 0.69);
    padding: 20px;
    display: flex;
    flex-direction: column; /* stacks the items vertically */
    justify-content: center; /* centers items vertically in the container */
    align-items: center; /* centers items horizontally in the container */
}